#stars{
  background-image: url("./public/images/background-stars.svg");
  background-repeat: repeat;
}

@keyframes menuOpen {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 360px; 
    opacity: 1;
  }
}

@keyframes menuClose {
  from {
    height: 360px; 
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.menu {
  overflow: hidden; 
  height: 0; 
}

.menu.open {
  animation: menuOpen 0.6s forwards; 
}

.menu.closed {
  animation: menuClose 0.6s forwards; 
}
